# Blockchain Configuration
NEXT_PUBLIC_ESCROW_ADDRESS=0x6b37b0FC861B0Fa22242eC92C25F2643876E4fbf
NEXT_PUBLIC_USDC_ADDRESS=0x5425890298aed601595a70AB815c96711a31Bc65
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Oracle API Keys
FLIGHTAWARE_API_KEY=
AVIATIONSTACK_API_KEY=
AG_NOAA_API_KEY=
ENERGY_WEATHER_API_KEY=
MARITIME_STORMGLASS_API_KEY=

# Third Party
NEXT_PUBLIC_TRANSAK_API_KEY=

